.conteiner{
	width: 900px;
	margin-left: auto;
	margin-right: auto;


}
body{
  background-color: #FFA07A;
}
.wrapper{

	top: 0;
	left: 0;
	right: 0;


}
.intro_title{
	color: red;
	width: 100%;
	max-width: 900px;
	margin:0 auto;
	text-align: center;
}

.us{
  color: #0000CD;
}
.text{
	color: #4169E1;
  text-align: center;
}



  .about{
  	min-width:900px;
  	width: 100%;
  	display: flex;
  	justify-content: space-around;
    margin-right: auto;
    margin-right: auto;
  
    }
    .about_t{
    	min-width: 900px;
  	width: 100%;
  	display: flex;
  	justify-content: space-around;
  	position:absolute;
     margin-right: auto;
    margin-right: auto;
    margin-top: 80px;
  }
   .about_to{
    min-width: 900px;
    widows: 100%;
    justify-content: space-around;
    margin-left:auto;
    margin-top: auto;
    margin-top: 350px;
    text-align: center;
    

    


  }

 
/*}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
*/
  
   .foo{
     margin-top:120px;
     float: left;
     width: 100%;

   }

.footer{
  display: -webkit-flex;
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200%;
  color: #fff;
   background-color: #8B0000;

 }
  



   