.conteiner{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
  background-color: #B22222;
}
.wrapper{
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 30px 30px 20px rgba(0,0,0,0);

}
.intro_title{
	color: #FFFAF0;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.text{
	color: #FFFAF0;
}



  .about{
  	min-width:500px;
  	width: 100%;
  	display: flex;
  	justify-content: space-around;
    margin-right: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #D3D3D3;

  
    }
    .about_t{
    	min-width: 500px;
  	width: 100%;
  	display: flex;
  	justify-content: space-around;
  	position:absolute;
     margin-right: auto;
    margin-right: auto;
    margin-top:0px;
     background-color: #D3D3D3;
  }
   .about_to{
      min-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position:absolute;
     margin-right: auto;
    margin-right: auto;
    margin-top: 290px;
     background-color: #D3D3D3;
  }

  .img{
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
  



  .foo{
     margin-top:580px;
     float: left;
     width: 100%;

   }

.footer{
  display: -webkit-flex;
  display: -o-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200%;
  color: #fff;
   background-color: #8B0000;

 }
  




    
  
    